/*
 * General style of all Codeeditor instances.
 */
.CodeMirror {
    background: #fff;
    border: 1px solid #999;
    font-size: 9pt;
    line-height: 140%;
}

/*
 * The preview.
 */
.codeeditor_preview {
    margin: 1em 0;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    border-radius: 1em;
    padding: 1em 0;
}
