.cm-s-ge span.cm-keyword {color: #909;}
.cm-s-ge span.cm-atom {color: #000;}
.cm-s-ge span.cm-number {color: #930;}
.cm-s-ge span.cm-def {color: #00f;}
.cm-s-ge span.cm-variable {color: #309;}
.cm-s-ge span.cm-variable-2 {color: #069;}
.cm-s-ge span.cm-variable-3 {color: #096;}
.cm-s-ge span.cm-property {color: 000;}
.cm-s-ge span.cm-operator {color: 000;}
.cm-s-ge span.cm-comment {color: #060;}
.cm-s-ge span.cm-string {color: #900;}
.cm-s-ge span.cm-meta {color: #c00;}
.cm-s-ge span.cm-error {color: #f00;}
.cm-s-ge span.cm-qualifier {color: #666;}
.cm-s-ge span.cm-builtin {color: #309;}
.cm-s-ge span.cm-bracket {color: #cc6;}
.cm-s-ge span.cm-tag {color: #000;}
.cm-s-ge span.cm-attribute {color: #00c;} 