.cm-s-ge span.cm-keyword {color: #708;}
.cm-s-ge span.cm-atom {color: #000;}
.cm-s-ge span.cm-number {color: #920;}
.cm-s-ge span.cm-def {color: #00f;}
.cm-s-ge span.cm-variable {color: #309;}
.cm-s-ge span.cm-variable-2 {color: #05a;}
.cm-s-ge span.cm-variable-3 {color: #0a5;}
.cm-s-ge span.cm-property {color: black;}
.cm-s-ge span.cm-operator {color: black;}
.cm-s-ge span.cm-comment {color: #271;}
.cm-s-ge span.cm-string {color: #600;}
.cm-s-ge span.cm-meta {color: #c00; font-weight: 700;}
.cm-s-ge span.cm-error {color: #f00;}
.cm-s-ge span.cm-qualifier {color: #555;}
.cm-s-ge span.cm-builtin {color: #30a;}
.cm-s-ge span.cm-bracket {color: #cc7;}
.cm-s-ge span.cm-tag {color: #000; font-weight: 700;}
.cm-s-ge span.cm-attribute {color: #00c;}